
.vue-typesetting {
    &__container {
        &--line {
            opacity: 0;
            &:hover {
                opacity: 1;
            }
        }
    }
    &__leaf {
        &--clip {
            opacity: 0;
            &:hover {
                & + div {
                    opacity: 0.5 !important;
                }
            }
        }
        &--all {
            opacity: 0;
            &:hover {
                opacity: 0.5 !important;
            }
        }
    }
    &__header-footer {
        &--content {
            position: relative;
            &:last-child {
                border-right: 0 !important;
            }
            &::after {
                position: absolute;
                inset: 0;
                content: '';
            }
            &:hover {
                &::after {
                    background-color: rgba(239, 242, 255, 0.6);
                }
            }
        }
    }
    // &__header-footer {
    //     &:hover {
    //         // filter: brightness(110%);
    //     }
    // }
}