.vue-typesetting {
    width: 100%;
    height: 100%;
    user-select: none;
    &__page {
        width: 100%;
        height: 100%;
        display: flex;
    }
    &__divide-container {
        flex: 1;
        display: flex;
        position: relative;
        &__line {
            position: absolute;
            
        }
    }
    &__divide-leaf{
        border: 1px solid teal;
        flex: 1;
        position: relative;
        box-sizing: border-box;
        &__selected {
            border: 2px solid red;
        }
        &__feel-area {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            &:hover {
                & + div {
                    background-color: rgba(0, 0, 0, 0.1);
                }
            }
        }
        &__tip-area {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            pointer-events: none;
        }
    }
    &__float-leaf {
        position: absolute;
    }
    &__drag {
        position: fixed;
        width: 100px;
        height: 40px;
        border: 2px dashed teal;
        background: rgba(255, 255, 255, 0.6);
        z-index: 100;
        pointer-events: none;
    }
}